/* modal.css */
/* CSS for HomePage component */

/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  width: 100%;
} */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; 
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
}

/* Admin content styles */
.admin-content {
  padding: 15px;
}

.admin-content h2{
  margin-top: 60px;
}

  .slider-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Hide overflowing content */
  }
  
  .slider-container .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure images cover the entire slide */
  }
  
  .navbar {
    background-color: #000; /* Black background */
  }
  
  .navbar-brand {
    color: #fff; /* White text */
  }
  
  .navbar-nav .nav-link {
    color: #fff !important; /* White text for links */
  }
  
  .dropdown-menu .dropdown-item {
    color: #000; /* Black text for dropdown items */
  }
  
  .dropdown-menu .dropdown-item:hover {
    background-color: #555; /* Dark gray background on hover */
    color: #fff; /* White text on hover */
  }
  